.st-emotion-cache-13k62yr {
    position: absolute;
    background-color: #0000;
    background-image: url("static/logo.png");
    background-size: cover;
    background-position: center;
    color: white;
    inset: 0px;
    color-scheme: dark;
    overflow: hidden;
    backdrop-filter: blur(8px); /* Adds blur to the background */
}

.st-emotion-cache-165fv6u p, .st-emotion-cache-165fv6u ol, .st-emotion-cache-165fv6u ul, .st-emotion-cache-165fv6u dl, .st-emotion-cache-165fv6u li {
    font-size: large;
    color: white;
}
.st-emotion-cache-qcpnpn {
    border: 1px solid rgb(0 0 0);
    border-radius: 0.5rem;
    padding: calc(-1px + 1rem);
}
.st-emotion-cache-atejua p, .st-emotion-cache-atejua ol, .st-emotion-cache-atejua ul, .st-emotion-cache-atejua dl, .st-emotion-cache-atejua li {
    font-size: inherit;
    color: white;
}